.CarouselProduct {
    width: 100%;
    height: 200px;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    &__Link {
        max-width: 10%;
    }
    &__Image {
        max-width: 75%;
        margin-top: 5px;
        padding: 5px;
        background-color: white;
        border-radius: 30px;
    }
    &__Text {
        width: 15%;
    }
}
