@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

body {
    margin: 0;
    background-color: rgb(100, 110, 70);
    color: white;
    font-family: "Montserrat", sans-serif;
}
