.CartProduct {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 80%;
    height: 300px;
    box-shadow: 5px 5px rgba(211, 211, 211, 0.5);
    border-radius: 5px;
    text-align: center;

    background-color: white;
    color: black;

    &__Image {
        max-height: 70%;
    }

    &__Quantity {
        display: flex;
        align-items: center;
        & p {
            padding: 0 10px;
        }
    }

    &__Icon {
        &:hover {
            cursor: pointer;
        }
        &:active {
            color: lightgrey;
        }
    }

    &__PriceDel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 80%;
        font-weight: bold;
    }
}
